%li.message
  .message__user
    %span.message__user-name= message.user.name
    %span.message__posted-time= message.time
  .message__content
    = message.body
    - if message.image?
      .message__image
        = image_tag message.image
