.contents
  = render partial: "layouts/sidebar"
  .message-board
    .message-board__header
      .message-board__header-left
      .message-board__header-right
    .message-board__content
    .message-board__footer
      #form
        .footer__message
