@import "../color";
.flash-message {
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  p.flash-message__notice {
    background-color: $blue;
    position: fixed;
    width: 100%;
  }
  p.flash-message__alert {
    background-color: $red;
    position: fixed;
    width: 100%;
  }
}
