@import "./mixin/clearfix";

.contents {
  height: 900px;
  min-width: 980px;
  .sidebar {
    height: 100%;
    width: 300px;
    float: left;
    background-color: #2f3e51;
    .sidebar__top {
      background-color: #253141;
      height: 60px;
      width: 260px;
      padding: 20px;
      .sidebar__top-left {
        font-size: 16px;
        font-weight: bold;
        float: left;
        color: #ffffff;
        line-height: 60px;
      }
      .sidebar__top-right {
        float: right;
        color: #ffffff;
        line-height: 60px;
        a {
          margin-left: 3px;
          font-size: 20px;
        }
      }
    }
    .sidebar__column {
      height: 100%;
      padding: 0 20px;
      .groups .group {
        padding: 20px 0;
        .group__title {
          color: #ffffff;
          font-size: 15px;
        }
        .group__content {
          color: #ffffff;
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
  }
  .message-board {
    width: calc(100% - 300px);
    float: left;
    .message-board__top {
      height: 100px;
      padding: 0 40px;
    }
    .message-board__content {
      height: 650px;
      padding: 30px 0;
      background-color: #fafafa;
      border-top: solid 1px #eeeeee;
    }
    .message-board__input {
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
    }
  }
}
